.custom-modal {
    height: 90vh;
    max-height: 90vh;
}

.custom-modal-content {
    height: calc(90vh - 120px); /* header + footer */
    padding: 0;
    overflow: hidden;
}

.preview-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;     /* vertical centering */
    justify-content: center; /* horizontal centering */
    background: #f3f3f3;
}

.preview-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}

.preview-frame {
    width: 100%;
    height: 100%;
    border: none;
}